<form #f="ngForm" (ngSubmit)="addUpdatePerson(personid,personname,email,dob,persongender,personphone, dateBirth, f.valid)" autocomplete="off">
 
  <div class="form-group">
    <span *ngIf="idFromParent==''" style="color:darkblue">Insert Person</span>
    <span *ngIf="idFromParent!=''" style="color:darkblue">Update Person</span>

  </div>

  <div class="form-group">
    <label for="idInput">Id:</label><span class="requiredErr">*</span>
    <input type="text" maxlength="50" *ngIf="idFromParent==''" class="form-control" name="personid" [(ngModel)]="personid" placeholder="Enter Id" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
    <input type="text" *ngIf="idFromParent!=''" class="form-control" value="{{personid}}" [(ngModel)]="personid" name="personid" readonly />
  </div>
  <div class="form-group">
    <label for="nameInput">Name:</label><span class="requiredErr">*</span>
    <input type="text" reuired maxlength="50" *ngIf="idFromParent==''" class="form-control" id="personname" name="personname" [(ngModel)]="personname" placeholder="Enter Name">
    <input type="text" maxlength="50" *ngIf="idFromParent!=''" class="form-control" name="personname" [(ngModel)]="personname" value="{{personname}}" size="15">
  </div>
  <div class="form-group">
    <label for="emailInput">Email:</label>
    <input type="text" *ngIf="idFromParent==''" class="form-control" id="emailInput" name="emailInput" [(ngModel)]="email" placeholder="Enter email" email>
    <input type="text" *ngIf="idFromParent!=''" class="form-control" name="personemail" value="{{personemail}}" [(ngModel)]="personemail" email>

  </div>
  <div class="form-group">
    <label for="dateInput">Date of Birth:</label><span class="requiredErr">*</span>
    <input type="date" reuired class="form-control" *ngIf="idFromParent==''" id="dateInput" name="dateInput" [(ngModel)]="dob" placeholder="Enter date of birth" (keyup)="persondob=dateInput.value">
    <input type="date" #myDate *ngIf="idFromParent!=''" class="form-control" [value]="persondob | date:'yyyy-MM-dd'" (input)="persondob=$event.target.value" />

  </div>

  <div class="form-group">
    <label for="genderSelUpd">Gender:</label>
    <select class="form-control" [value]="persongender" name="genderSelUpd" id="genderSelUpd" [(ngModel)]="persongender">
      <option value="-1">-Select-</option>
      <option value="1">Male</option>
      <option value="2">Female</option>
      <option value="3">Other</option>
    </select>
  </div>

  <div class="form-group">
    <label for="phoneInput">Phone:</label>
    <input type="text" maxlength="20" class="form-control" *ngIf="idFromParent==''" id="phoneInput" name="personphone" [(ngModel)]="personphone" placeholder="Enter phone" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
    <input type="text" maxlength="20" class="form-control" *ngIf="idFromParent!=''" id="personphone" name="personphone" [(ngModel)]="personphone" value="{{personphone}}" size="15" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
  </div>
  <button *ngIf="idFromParent==''" type="submit" class="btn btn-primary">Insert</button>
  <button *ngIf="idFromParent!=''" type="submit" class="btn btn-primary">Update</button>
  <div *ngIf="!f.valid" class="requiredErr">Please check email</div>


</form>

