<h1>Persons Application</h1>

<table>
  <tr>
    <td>
      <table id="persons">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Date of Birth</th>
          <th>Gender</th>
          <th>Phone</th>
          <th></th>
        </tr>
        <tbody *ngFor="let person of persons">
          <tr>
            <td>
              <span>{{person.id}}</span>
            </td>
            <td>
              <span>{{person.name}}</span>
            </td>
            <td>
              <span>{{person. email}}</span>
            </td>
            <td>
              <span>{{person. dateBirthDisplay}}</span>
            </td>
            <td>
              <span *ngIf="person.gender==genderOption.MALE">Male</span>
              <span *ngIf="person.gender==genderOption.FEMALE">Female</span>
              <span *ngIf="person.gender==genderOption.OTHER">Other</span>
            </td>
            <td>
              <span>{{person.phone}}</span>
            </td>
            <td>
              <input type="button" value="Delete" (click)="deletePerson(person.id)" />&nbsp;
              <input type="button" value="Edit" (click)="person.enableEdit=true; setPersonToBeUpdate(person.id);" />

            </td>
          </tr>
        </tbody>
      </table>
    </td>
    <td>
      <div *ngIf="personToBeUpdate.id !=null">
        <app-personmanage [idFromParent]="personToBeUpdate.id" [personid]="personToBeUpdate.id" [personname]="personToBeUpdate.name" [personemail]="personToBeUpdate.email" [persondob]="personToBeUpdate.dateBirth" [persongender]="personToBeUpdate.gender" [personphone]="personToBeUpdate.phone" [submitname]="update" (notify)="getUpdatePerson($event)"></app-personmanage>
      </div>
      
    </td>
    <td>
      <app-personmanage [submitname]="insert" [idFromParent]="" [personid]="" [personname]="" [personemail]="" [persondob]="" [persongender]="-1" [personphone]="" (notify)="getNewPerson($event)"></app-personmanage>
    </td>
  </tr>
</table>




